[submodule "external/oh-my-zsh"]
	path = external/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "external/base16-item2"]
	path = external/base16-item2
	url = git@github.com:chriskempson/base16-iterm2.git
[submodule "external/base16-gnome-terminal"]
	path = external/base16-gnome-terminal
	url = git@github.com:chriskempson/base16-gnome-terminal.git
[submodule "external/base16-shell"]
	path = external/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "external/base16-ipython-notebook"]
	path = external/base16-ipython-notebook
	url = git@github.com:nsonnad/base16-ipython-notebook.git
[submodule "external/powerline-fonts"]
	path = external/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "external/monoid"]
	path = external/monoid
	url = git@github.com:larsenwork/monoid.git
[submodule "external/gruvbox-contrib"]
	path = external/gruvbox-contrib
	url = https://github.com/morhetz/gruvbox-contrib
[submodule "external/gruvbox-terminal"]
	path = external/gruvbox-terminal
	url = https://github.com/flipxfx/gruvbox-terminal
[submodule "external/base16-builder"]
	path = external/base16-builder
	url = https://github.com/chriskempson/base16-builder.git
[submodule "external/fantasque-sans"]
	path = external/fantasque-sans
	url = https://github.com/belluzj/fantasque-sans.git
[submodule "external/vim-plug"]
	path = external/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "external/tmux-plugins"]
	path = external/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "external/gruvbox-pygments"]
	path = external/gruvbox-pygments
	url = https://github.com/daveyarwood/gruvbox-pygments.git
