[submodule "external/catppuccin/k9s"]
	path = external/catppuccin/k9s
	url = git@github.com:catppuccin/k9s.git
[submodule "external/tmux-plugins/tpm"]
	path = external/tmux-plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "external/catppuccin/alacritty"]
	path = external/catppuccin/alacritty
	url = git@github.com:catppuccin/alacritty.git
[submodule "external/catppuccin/bat"]
	path = external/catppuccin/bat
	url = https://github.com/catppuccin/bat.git
[submodule "external/catppuccin/zsh-fsh"]
	path = external/catppuccin/zsh-fsh
	url = https://github.com/catppuccin/zsh-fsh.git
