.cache
**/__pycache__
.bash_private
**/.DS_Store
*.swp
**/.config/pudb/saved-breakpoints-2.7
**/.config/fish/fish_history
**/.config/fish/functions/fzf_key_bindings.fish
**/.config/fish/fishd.*
**/.config/JetBrains/Fleet/localStorage
**/.config/kitty/cached.json
**/.config/antidote/.zsh_plugins.zsh
**/.tmux/resurrect
**/.tmux/plugins/*
stow/JetBrains/.config/JetBrains/Fleet/backend/*
stow/nvim/.config/nvim/.luarc.json
