.cache
**/__pycache__
.bash_private
**/.DS_Store
.vim/.netrwhist
.vim/view
*.swp
.config/pudb/saved-breakpoints-2.7
.config/fish/fish_history
.config/fish/fishd.*
.tmux/resurrect
.tmux/plugins/tmux*
.vim/plugged/*
.vim/repos/*
.vim/.init.vim-rplugin~
.config/fish/functions/fzf_key_bindings.fish
.ptpython/history
