[MESSAGES CONTROL]
# Disable the following PyLint messages:
W0312 - Found indentation with tabs instead of spaces
disable-msg=W0312

[TYPECHECK]
generated-members=objects,DoesNotExist,MultipleObjectsReturned
